fastapi
uvicorn
python-dotenv
redis
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-groq
langgraph
pydantic
google-api-python-client
requests
torch
torchaudio
soundfile
SpeechRecognition
python-multipart
